<%- include('partials/head') %> 

    <%- include('partials/navbar') %> 
    <h1>Home page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel praesentium, ducimus nihil laborum magni ad corrupti omnis, culpa quaerat facilis ab suscipit labore quis. Natus rem at iure ratione cumque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatibus odio incidunt aperiam quia eaque blanditiis iure quis, earum neque est itaque voluptatem officiis maxime molestiae cupiditate modi reprehenderit error!</p>
    
    <%- include('partials/footer') %> 